<{if $item_exif|@count > 1 }>
<div class="exif_switch"><img src="<{$mod_url}>/images/camera.png" alt="EXIF" title="EXIF" onclick="document.getElementById('gnavi_exif_<{$photo.lid}>_<{$photo_num}>').toggle()" /></div>
<table class="exif_table" id="gnavi_exif_<{$photo.lid}>_<{$photo_num}>">
<{foreach from=$item_exif key=key item=val}>
 <{if $val}>
  <{if $key == 'GPS'}>
   <{if $map}>
    <tr>
    <td><{$key}></td>
    <td>
    <a href="#" onclick="setMapCenter('<{$val.Lat}>', '<{$val.Lon}>');return false;"><{$smarty.const._MD_GNAV_MAP_LAT}>:<{$val.Lat}>, <{$smarty.const._MD_GNAV_MAP_LNG}>:<{$val.Lon}></a>
    <script type="text/javascript">google.maps.event.addDomListener(window, 'load', function(){drawCameraMarker('<{$val.Lat}>', '<{$val.Lon}>', '<{$photo.caption}>');});</script>
  	</td>
  	</tr>
   <{/if}>
  <{else}>
   <tr>
   <td><{$key}></td>
   <td><{$val|escape}></td>
   </tr>
  <{/if}>
 <{/if}>
<{/foreach}>
</table>
<script type="text/javascript">$('gnavi_exif_<{$photo.lid}>_<{$photo_num}>').toggle();</script>
<{/if}>