<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=<{$charset}>">
	<title><{$xoops_sitename}> - <{$xoops_pagetitle}></title>
</head>
<body>


	<div style="text-align:center;background-color:#ffe566;"><{$photo.title}></div>

	<hr color="#ffe566">

	<{*Show Description*}>

	<{if $moreprev>-1}><a href="?lid=<{$photo.lid}>&amp;more=<{$moreprev}><{$agent}>"><{$lng_mobile_prev}></a>...<{/if}>
	<{$description}>
	<{if $more}>...<a href="?lid=<{$photo.lid}>&amp;more=<{$more}><{$agent}>"><{$lng_mobile_next}></a><{/if}>

	<br>

	<{*Show Images*}>

	<{if $photo.ext}>
		<{if !$morepage}>
			<img src="<{$photo.imgsrc_thumb}>">
		<{else}>
			[<a href="<{$photo.ahref_thumb}>"><{$lng_mobile_photo1}></a>]
		<{/if}>
		<{if $photo.caption}><br><{$photo.caption}><{/if}>
		<br>
	<{/if}>
	<{if $photo.ext1}>
		<{if $morepage==1}>
			<img src="<{$photo.imgsrc_thumb1}>">
		<{else}>
			[<a href="<{$photo.ahref_thumb1}>"><{$lng_mobile_photo2}></a>]
		<{/if}>
		<{if $photo.caption1}><br><{$photo.caption1}><{/if}>
		<br>
	<{/if}>
	<{if $photo.ext2}>
		<{if $morepage==2}>
			<img src="<{$photo.imgsrc_thumb2}>">
		<{else}>
			[<a href="<{$photo.ahref_thumb2}>"><{$lng_mobile_photo3}></a>]
		<{/if}>
		<{if $photo.caption2}><br><{$photo.caption2}><{/if}>
		<br>
	<{/if}>

	<{*Show Map*}>

	<{if $map}>
		<hr color="#99ccff">

		<table width=100% bgcolor="#99ccff"><tr>
			<td ><{$lang_map}></td>
			<td align="right">[<a href="index.php<{$maplink_option}><{$agent}>"><{$lng_mobile_show_area}></a>]</td>
		</tr></table>

		<hr color="#99ccff">

		<img src="<{$mymap}>" alt="GogleMap">

		<hr color="#99ccff">
	<{/if}>

	<{*Show Infos*}>

	<{if $photo.tel || $photo.fax || $photo.zip || $photo.address || $photo.addinfo}>
	<table width=100% >
		<{if $photo.tel}><tr><td bgcolor="#efefef"><font color="#990000"><{$lang_tel}></font></td></tr><tr><td><a href=tel:<{$photo.tel}>><{$photo.tel}></a></td></tr><{/if}>
		<{if $photo.fax}><tr><td bgcolor="#efefef"><font color="#990000"><{$lang_fax}></font></td></tr><tr><td><{$photo.fax}></td></tr><{/if}>
		<{if $photo.zip}><tr><td bgcolor="#efefef"><font color="#990000"><{$lang_zip}></font></td></tr><tr><td><{$photo.zip}></td></tr><{/if}>
		<{if $photo.address}><tr><td bgcolor="#efefef"><font color="#990000"><{$lang_address}></font></td></tr><tr><td><{$photo.address}></td></tr><{/if}>
		<{foreach from=$photo.addinfo item=addinfo}>
			<tr><td bgcolor="#efefef"><font color="#990000"><{$addinfo.title}></font></td></tr><tr><td><{$addinfo.desc}></td></tr>
		<{/foreach}>
	</table>
	<{/if}>

	<hr color="#ffe566">
	<font size=1><{$photo.mycat}></font>

	<hr color="#ffe566">

	<div style="text-align:center;background-color:#efefef;"><font size=1><a href=index.php><{$lang_top_link}></a></font></div>
</body>
</html>