<html>
<head>
	<meta http-equiv="content-type" content="text/HTML; charset=<{$charset}>" />
	<title><{$xoops_sitename}> - <{$xoops_pagetitle}></title>
</head>
<body>

	<div style="text-align:center;background-color:#ffe566;"><{$album_sub_title}><{if !$indexpage}>(<{$photo_num_total}>)<{/if}></div>

	<hr color="#ffe566">

	<{if $indexpage}>
		<div style="text-align:center;background-color:#efefef;"><font size=1><{$photo_num_total}></font></div>
	<{/if}>

	<{if $subcategories}>

		<font color="#009900">
			<ul>
				<{foreach from=$subcategories item=cat key=count}>
					<li><a href=<{$cat_link}>cid=<{$cat.cid}><{$agent}>><{$cat.title}></a>&nbsp;(<{$cat.photo_total_sum}>)
				<{/foreach}>
			</ul>
		</font>

		<hr color="#efefef">

	<{/if}>

	<{if !$indexpage || $map}>
		<!--HypKTaiOptimized-->
		<table width="100%" bgcolor="#efefef"><tr>
			<{if $map}><td><font size=1>&nbsp;<a href="index.php<{$maplink_option}><{$agent}>"><{$map}></a></font></td><{/if}>
			<{if !$indexpage}><td align=right><font size=1><a href="<{$mod_url}>/index.php?<{if $parent_id}>&amp;cid=<{$parent_id}><{/if}><{$agent}>"><{$lng_mobile_updir}></a>&nbsp;</font></td><{/if}>
		</tr></table>
		<!--/HypKTaiOptimized-->
	<{/if}>

	<{* PAGE NAVIGATION *}>

	<hr color="#99ccff">

	<div style="text-align:center;background-color:#99ccff;"><{$lang_itemlist}></div>

	<hr color="#99ccff">


	<{if $photo_small_sum < 1 }>
		<{$lang_nomatch}>
	<{else}>

		<font color="#ff9999">
			<ul>
				<{foreach from=$photos item=photo}>
					<li><a href='<{$mod_url}>/index.php?lid=<{$photo.lid}><{if $category_id}>&amp;cid=<{$category_id}><{/if}><{$agent}>'><{$photo.title}></a>
				<{/foreach}>
			</ul>
		</font>


		<{if $photo_small_sum > 1 }>
			<hr color="#ffe566">

			<div style="text-align:center;background-color:#efefef;"><font size=1 color=#990000><{$photonavinfo}></font></div>
			<font size=1><{$photonav}></font>

		<{/if}>

		<{if $photo_small_sum > 1 }>
			<hr color="#ffe566">

			<{strip}>
				<div style="text-align:center;background-color:#efefef;"><font size=1 color=#990000><{$lang_sortby}></font></div>
				<font size=1>
					<a href="index.php?orderby=<{if $my_order=='titleD'}>titleA<{else}>titleD<{/if}><{$catlink_option}><{$agent}>"><{$lang_title}><{if $my_order=='titleD'}><img src="images/down.gif"><{elseif $my_order=='titleA'}><img src="images/up.gif"><{/if}></a>
					|<a href="index.php?orderby=<{if $my_order=='dateD'}>dateA<{else}>dateD<{/if}><{$catlink_option}><{$agent}>"><{$lang_date}><{if $my_order=='dateD'}><img src="images/down.gif"><{elseif $my_order=='dateA'}><img src="images/up.gif"><{/if}></a>
					<{if $canrateview && $canvote }>
						|<a href="index.php?orderby=<{if $my_order=='ratingD'}>ratingA<{else}>ratingD<{/if}><{$catlink_option}><{$agent}>"><{$lang_rating}><{if $my_order=='ratingD'}><img src="images/down.gif"><{elseif $my_order=='ratingA'}><img src="images/up.gif"><{/if}></a>
					<{/if}>
					|<a href="index.php?orderby=<{if $my_order=='hitsD'}>hitsA<{else}>hitsD<{/if}><{$catlink_option}><{$agent}>"><{$lang_popularity}><{if $my_order=='hitsD'}><img src="images/down.gif"><{elseif $my_order=='hitsA'}><img src="images/up.gif"><{/if}></a>
				</font>
			<{/strip}>

		<{/if}>

	<{/if}>

	<hr color="#ffe566">

	<div style="text-align:center;background-color:#efefef;"><font size=1><a href=index.php><{$lang_top_link}></a></font></div>

</body>
</html>