<html>
<head>
	<meta http-equiv="content-type" content="text/HTML; charset=<{$charset}>" />
	<title><{$xoops_sitename}> - <{$xoops_pagetitle}></title>
</head>
<body>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lngdown}>&amp;lat=<{$mapkeys.latup}><{$agent}>" accesskey="1"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lng}>&amp;lat=<{$mapkeys.latup}><{$agent}>" accesskey="2"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lngup}>&amp;lat=<{$mapkeys.latup}><{$agent}>" accesskey="3"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lngdown}>&amp;lat=<{$mapkeys.lat}><{$agent}>" accesskey="4"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoomup}>&amp;lng=<{$mapkeys.lng}>&amp;lat=<{$mapkeys.lat}><{$agent}>" accesskey="5"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lngup}>&amp;lat=<{$mapkeys.lat}><{$agent}>" accesskey="6"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lngdown}>&amp;lat=<{$mapkeys.latdown}><{$agent}>" accesskey="7"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lng}>&amp;lat=<{$mapkeys.latdown}><{$agent}>" accesskey="8"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoom}>&amp;lng=<{$mapkeys.lngup}>&amp;lat=<{$mapkeys.latdown}><{$agent}>" accesskey="9"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.doublezoomup}>&amp;lng=<{$mapkeys.lng}>&amp;lat=<{$mapkeys.lat}><{$agent}>" accesskey="*"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.zoomdown}>&amp;lng=<{$mapkeys.lng}>&amp;lat=<{$mapkeys.lat}><{$agent}>" accesskey="0"></a>
	<a href="<{$cat_link}>cid=<{$category_id}>&amp;zoom=<{$mapkeys.doublezoomdown}>&amp;lng=<{$mapkeys.lng}>&amp;lat=<{$mapkeys.lat}><{$agent}>" accesskey="#"></a>

	<div style="text-align:center;background-color:#ffe566;"><{$album_sub_title}></div>

	<center>
		<{if $result}>
			<font color="red"><{$result}></font><br>
		<{/if}>
		<img src="<{$mymap}>"><br>
		<img src="images/mnavi.gif">
	</center>

	<hr color="#99ccff">

	<div style="text-align:center;background-color:#99ccff;"><{$lng_mobile_mklist}></div>

	<hr color="#99ccff">

	<font color="#6699ff">

		<{if $markerlist}>
			<{foreach from=$markerlist item=marker key=count}>
				&nbsp;<{$marker.abc}>:<a href="?cid=<{$category_id}>&amp;lid=<{$marker.lid}><{$agent}>"><{$marker.title}></a><br>
			<{/foreach}>
		<{else}>
			<{$lng_mobile_nomark}>
		<{/if}>

	</font>

	<hr color="#ff9999">
	<div style="text-align:center;background-color:#ff9999;"><{$lng_mobile_search_desc}></div>
	<hr color="#ff9999">

	<form action="?" method="get">
		<input type="text" name="q" value="<{$query}>" size="15" maxlength="25">
		<input type="hidden" name="page" value="map">
		<input type="hidden" name="zoom" value="<{$mapkeys.zoom}>">
		<input type="hidden" name="lat" value="<{$mapkeys.lat}>">
		<input type="hidden" name="lng" value="<{$mapkeys.lng}>">
		<input type="hidden" name="agent" value="<{$_agent}>">
		<input type="submit" value="<{$lng_mobile_search}>">
	</form>


	<hr color="#99ccff">
	<div style="text-align:center;background-color:#99ccff;"><{$album_sub_title}><{if !$indexpage}>(<{$photo_num_total}>)<{/if}></div>
	<hr color="#99ccff">

	<{if $indexpage}>
		<div style="text-align:center;background-color:#efefef;"><font size="1"><{$photo_num_total}></font></div>
	<{/if}>

	<{if $subcategories}>
		<font color="#009900">
			<ul>
				<{foreach from=$subcategories item=cat key=count}>
					<li><a href="<{$cat_link}>cid=<{$cat.cid}><{$agent}>"><{$cat.title}></a>&nbsp;(<{$cat.photo_total_sum}>)
				<{/foreach}>
			</ul>
		</font>

		<hr color="#efefef">
	<{/if}>

	<table width=100% bgcolor="#efefef"><tr>
		<td><font size="1">&nbsp;<a href="index.php<{$link_option}><{$agent}>"><{$lang_itemlist}></a></font></td>
		<{if !$indexpage}><td align="right"><font size="1"><a href="<{$mod_url}>/index.php?page=map<{if $parent_id}>&amp;cid=<{$parent_id}><{/if}><{$agent}>"><{$lng_mobile_updir}></a>&nbsp;</font></td><{/if}>
	</tr></table>

	<hr color="#ffe566">

	<div style="text-align:center;background-color:#efefef;"><font size="1"><a href="index.php"><{$lang_top_link}></a></font></div>

</body>
</html>